<h2>Create a New Toy</h2>

<form action="/toys" method="post">

  <p><strong><label>Name:</label></strong>
  <input id="toy_name" type="text" name="toy[name]"></p>

  <p><strong><label>Edition:</label></strong>
  <input id="toy_edition" type="text" name="toy[edition]"></p>

  <p><strong><label>Color:</label></strong>
  <input id="toy_color" type="text" name="toy[color]"></p>

  <p><strong><label>Designer:</label></strong>
  <input id="toy_designer" type="text" name="toy[designer]"></p>

  <p><strong><label>Brand:</label></strong>
  <input id="toy_brand" type="text" name="toy[brand]"></p>

  <input type="submit" value="Create New Toy">
</form>
