<h2>Create a New Toy</h2>

<form action="/toys" method="post">

  <p><strong><label>Name:</label></strong>
  <input id="toy_name" type="text" name="toy[name]"></p>

  <p><strong><label>Edition:</label></strong>
  <input id="toy_edition" type="text" name="toy[edition]"></p>

  <strong><label>Select Designer:</label></strong><br>
  <ul>
    <% @designers.each do |designer| %>
    <input type="checkbox" name="toy[designer_id]" id="<%=designer.id%>" value="<%= designer.id %>"> <%=designer.name%></input><br> 
    <% end %>
  </ul>

  <br>

  <h4>Or create a new one:</h4><br>

    <p><strong><label>Designer Name:</label></strong>
    <input id="new_designer" type="text" name="designer[name]"></p>

  <br>

  <input type="submit" value="Create New Toy">
</form>
