<h2>Welcome, <%= current_user.username.capitalize %>!</h2>

<h4>All Users:</h4>
  <p>
    <ul>
      <% @users.each do |user| %>
        <li><a href="/users/<%= user.slug %>"><%= user.username.capitalize %></a></li><br>
      <% end %>
    </ul>
  </p>

<button onclick="window.location.href = '/toys/new';">Add New Toy</button>
