<h2>Designers</h2>

<% if logged_in? %>
  <h3>Welcome, <%= current_user.username.capitalize %>!</h3>

  <br>

<h4>All Designer Entries:</h4>
  <ul>
    <% Designer.all.each do |designer| %>
      <li><a href="/designers/<%= designer.slug %>"><%= designer.name %></a></li><br>
    <% end %>
  </ul>

  <a class="button" href="/designers/new">Add Designer</a>
<% end %>
