<h2>Create a New Designer</h2>

<form action="/designers" method="post">

  <p><strong><label>Designer Name:</label></strong>
  <input id="designer_name" type="text" name="designer[name]" /><br><br>

  <input type="submit" value="Create New Designer">
</form>
